.App {
    display: flex;
    margin: 40px;
    min-height: calc(100vh - 80px);
  }


  ul, form, h1 {
    padding-left: 50px;
    color: hotpink;
    font-weight: bold;
    size: 45 px;
  }

  .demonym_app {
    border: 2px solid hotpink;
    padding: 20px;
  }

